<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.datasource">java:/comp/env/jdbc/lightlowcost</property>
    <property name="dialect">org.hibernate.dialect.MySQL5Dialect</property>
    <property name="hibernate.show_sql">true</property>
    <mapping class="com.lightlowcost.server.domain.CarRate"/>
    <mapping class="com.lightlowcost.server.domain.NightRate"/>
    <mapping class="com.lightlowcost.server.domain.NormalRate"/>
    <mapping class="com.lightlowcost.server.domain.ValuesDay"/>
  </session-factory>
</hibernate-configuration>
